# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
ai/
*.egg-info/
dist/
build/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.tox/
.nox/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
htmlcov/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# VS Code
.vscode/

# Streamlit
.streamlit/

# Mac/Windows hidden files
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
Desktop.ini

# ChromeDriver
chromedriver.exe

# Ollama models (if any local cache)
ollama_models/

# dotenv
.env
